* {
  padding: 0;
  margin: 0;  
  background: #fffff5;
  text-align: center;
}
/* index.html */
.index__container{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index__title__container{
  width: 60vw;
  text-align: center;
  margin: 1rem auto 1rem;
  padding: 1rem;
/*   border: 1px solid red; */
}
.index__title{
  font-size: 6rem;
  
}
.index__players__container{
  display: flex;
  flex-wrap: wrap;
  width: 60vw;
  margin: 2rem auto 3rem;
  padding: 1rem;
  /* border: 0.1rem solid rgb(61, 170, 18); */
}
.index__player{
  width: 50%;
  display: inline-block;
}
.index__player__input{
  vertical-align: top;
  margin: 1rem auto 1rem;
  padding: 0 0.5rem 0;
  width: 10rem;
  height: 2rem;
}
.index__player__color{
  vertical-align: top;
  margin: 1rem auto 1rem;
  width: 2rem;
  height: 2rem;
}
.index__buttons_container{
  display: inline-block;
  width: 60vw;
/*   border: 1px solid red; */
  padding: 1rem;
}
.index__button{
  vertical-align: top;
  width: 24rem;
  height: 6rem;
  font-size: 1.5rem;
  margin: 1rem;
}
/* memory */
.memory__container{
  height: 100vh;
  display: flex;
  align-items: center;
}
.memory__playerboard__container{
  height: 80vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  border: 0.2rem solid green;
  margin: 1rem;
}
.memory__player{
  height: 17vh;
  margin: 0 1rem 0;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.memory__player label {
  padding: 0.3rem;
  font-size: 2.5rem;
}
.memory__player p {
  padding: 0.3rem;
  font-size: 3.5rem;
}
.memory-game{
  height: 80vh;
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  perspective: 1000px;
}
.memory-card{
  width: calc(16.66% - 1rem);
  height: calc(25% - 1rem);
  margin: 0.5rem;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .7s;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
}
.memory-card img{
  width: 100%;
  height: 100%;
  background-position: center;
}
.memory-card:active {
  transform: scale(1.03);
  transition: transform .2s;
}
.memory-card.flip {
  transform: rotateY(180deg);
}
.front-face, .back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  background: white;
  backface-visibility: hidden;
}
.front-face{
  transform: rotateY(180deg);
}
.back-face{
  background:#eef9ed;
}

/* mountain */
.show-nothing {
  display: none;
}