* {
  padding: 0;
  margin: 0;  
  background: #fffff5;
  text-align: center;
  box-sizing: border-box;
}
/* index.html */
.index__container{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index__title__container{
  width: 60vw;
  text-align: center;
  margin: 1rem auto 1rem;
  padding: 1rem;
/*   border: 1px solid red; */
}
.index__title{
  font-size: 6rem;
  
}
.index__players__container{
  display: flex;
  flex-wrap: wrap;
  width: 60vw;
  margin: 2rem auto 3rem;
  padding: 1rem;
  /* border: 0.1rem solid rgb(61, 170, 18); */
}
.index__player{
  width: 50%;
  display: inline-block;
}
.index__player__input{
  vertical-align: top;
  margin: 1rem auto 1rem;
  padding: 0 0.5rem 0;
  width: 10rem;
  height: 2rem;
}
.index__player__color{
  vertical-align: top;
  margin: 1rem auto 1rem;
  width: 2rem;
  height: 2rem;
}
.index__player__dice{
  vertical-align: top;
  margin: 1rem auto 1rem;
  width: 2rem;
  height: 2rem;
  background-image: url( './img/kockica.png' );
  background-size: 1.8rem 1.8rem;
}
.index__player__dice__rolled{
  vertical-align: top;
  margin: 1rem auto 1rem;
  width: 2rem;
  height: 2rem;  
}
.index__inputs__bordered{
  font-size: 1.5rem;
  color: black;
  border: 1px solid green;
}
.index__buttons_container{
  display: inline-block;
  width: 60vw;
/*   border: 1px solid red; */
  padding: 1rem;
}
.index__button{
  vertical-align: top;
  width: 24rem;
  height: 6rem;
  font-size: 1.5rem;
  margin: 1rem;
}

/* memory */
.memory__container{
  height: 100vh;
  display: flex;
  align-items: center;
}
.memory__playerboard__container{
  height: 80vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  border: 0.2rem solid green;
  margin: 1rem;
}
.memory__player{
  height: 17vh;
  margin: 0 1rem 0;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.memory__player label {
  padding: 0 0.3rem 0.3rem;
  font-size: 2.5rem;
}
.memory__player p {
  padding: 0.3rem 0.3rem 0rem;
  font-size: 3.5rem;
}
.memory-game{
  height: 80vh;
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}
.memory-card{
  width: calc(16.66% - 1rem);
  height: calc(25% - 1rem);
  margin: 0.5rem;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .7s;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
}
.memory-card img{
 width: 100%;
  /*  height: 100%; */
  background-position: center;
}
.memory-card:active {
  transform: scale(1.03);
  transition: transform .2s;
}
.memory-card.flip {
  transform: rotateY(180deg);
}
.front-face, .back-face {
  width: 100%;
  height: 100%;
  padding: 5px;
  position: absolute;
  left: 0px;
  background: white;
  backface-visibility: hidden;
}
.front-face{
  transform: rotateY(180deg);
}
.back-face{
  background:#eef9ed;
}
.player1-corner {
  width: 0;
  height: 0;
	border-right: 2vw solid #d8eb4d;
	border-left: 2vw solid transparent;
  border-bottom: 2vw solid transparent;
  backface-visibility: visible;
  transform: rotateY(180deg);
  background: none;
}
.player2-corner {
  width: 0;
  height: 0;
	border-right: 2vw solid #4deb6f;
	border-left: 2vw solid transparent;
  border-bottom: 2vw solid transparent;
  backface-visibility: visible;
  transform: rotateY(180deg);
  background: none;
}
.player3-corner {
  width: 0;
  height: 0;
	border-right: 2vw solid #4de1eb;
	border-left: 2vw solid transparent;
  border-bottom: 2vw solid transparent;
  backface-visibility: visible;
  transform: rotateY(180deg);
  background: none;
}
.player4-corner {
  width: 0;
  height: 0;
	border-right: 2vw solid #4d6aeb;
	border-left: 2vw solid transparent;
  border-bottom: 2vw solid transparent;
  backface-visibility: visible;
  transform: rotateY(180deg);
  background: none;
}
.player1-border {
  border: 1px solid #d8eb4d;
  background: #d8eb4d;
  box-shadow: 0 0 15px rgba(0,0,0,.3);
}
.player2-border {
  border: 1px solid #4deb6f;
  background: #4deb6f;
  box-shadow: 0 0 15px rgba(0,0,0,.3);
}
.player3-border {
  border: 1px solid #4de1eb;
  background: #4de1eb;
  box-shadow: 0 0 15px rgba(0,0,0,.3);
}
.player4-border {
  border: 1px solid #4d6aeb;
  background: #4d6aeb;
  box-shadow: 0 0 15px rgba(0,0,0,.3);
}
.next-player-onMove-up {
  transform: scale(1.05);
  transition: transform .7s;
}
.previous-player-onMove-down {
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .7s;
}

.memory__manual{
  text-align: center;
  height: 75vh;
  margin: 0.3rem 0.3rem 0;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 15px rgba(0,0,0,.3);
}
.memory__manual label {
  color: green;
  padding: 0 0.3rem 0.3rem;
  font-size: 2.5rem;
}
.memory__manual p {
  padding: 0.3rem 0.3rem 0rem;
  font-kerning: auto;
  line-height: 2.5rem;
  font-size: 2rem;
}
.memory__buttons_container{
  padding: 0.2rem;
}
.memory__button{
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
  font-size: 1.25rem;
}
.new{
  background: #4deb6f;
}
.choose{
  background: #4de1eb;
}
.manual{
  background: #d8eb4d;
}
/*custom alert section*/
.alert{
  position:fixed;
  left: 50%; 
  transform: translate(-50%, -20%);
  background:#e0f5d2;
  opacity: 95%;
  width:60vw;
  height:60vh;
  border-radius: 0.05rem;
  z-index: 1001;
  animation-name: example;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;

}
.alertManual{
  position:fixed;
  left: 50%; 
  transform: translate(-50%, -20%);
  background:#e0f5d2;
  opacity: 95%;
  width:80vw;
  height:80vh;
  border-radius: 0.05rem;
  z-index: 1001;
  animation-name: example;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;

}
@keyframes example {
  from {
    top: 0%;
    opacity: 0;
  }

  to {
    top: 25%;
    opacity: 1;
  }
}

@keyframes exampleExit {
  0% {
    top: 25%;
  }
 
  99% {   
    top:0%;
    z-index:1001;
    /* overflow: hidden; */
    /* visibility: hidden; */
  }
  100% {
    display: none;
    opacity: 0;
    z-index:-1000000;
    }
  
}

.closed {
  animation-name: exampleExit;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.closedOverlay {
  display:none;
}
.startClosed {
  display:none;
}
.display-custom-alert {
  display:block
}

.modal-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgb(255, 255, 255, 0)

}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:#e0f5d2;
  padding: 1rem 1.5rem;
  width: 25vw;
 
}
.modal-contentManual {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:#e0f5d2;
  padding: 1rem 1.5rem;
  width: 80%;
}
.modal-contentManual p{
  background:#e0f5d2;
  font-size: 1.25rem;
}
.modal-contentManual p strong{
  background:#e0f5d2;
  font-size: 1.75rem;
}
.modal-contentManual li{
  text-align: left;
  background:#e0f5d2;
  font-size: 1.25rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.05rem;
  background-color: #ff0015;
}
.custom-alert-text{
  font-size: 1.5rem;
  background:#e0f5d2;
}
.custom-alert-textManual{
  font-size: 1.25rem;
  background:#e0f5d2;
}
.custom-alert-button {
  position: absolute;
  width:10vh;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: none;
  color: black;
  padding: 0.2rem;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  box-shadow: 0 7px #999;
  background-color: #4de1eb;
}
.custom-alert-button:hover {
  background-color: #fffff5;
}
.custom-alert-button:active {
  background-color:white;
  box-shadow: 0 5px #666;
  top: 91%
}
/*custom alert section end*/

/* mountain */
.mountain-part{
  width: 100vw;
  height: 100vh;
  display: flex;
}
.canvas-container {
  width: 80vw;
}
.right-panel {
  width: 20vw;
}
.mountain__playerboard__container{
  height: 58vh;
  width: 18vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  border: 0.2rem solid green;
  margin: 0 0.75rem 0;
}
.mountain__player{
  height: 13vh;
  margin: 0 .75rem 0;
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mountain__player label {
  padding: 0 0.3rem 0.3rem;
  font-size: 2.5rem;
}
.player-1-border {
  border-width:2rem 1px 2rem;
  border-color: #d8eb4d;
  box-shadow: 0 0 15px rgba(0,0,0,.3);
}
.player-2-border {
  border-width:2rem 1px 2rem;
  border-color: #4deb6f;
  box-shadow: 0 0 15px rgba(0,0,0,.3);
}
.player-3-border {
  border-width:2rem 1px 2rem;
  border-color: #4de1eb;
  box-shadow: 0 0 15px rgba(0,0,0,.3);
}
.player-4-border {
  border-width:2rem 1px 2rem;
  border-color: #4d6aeb;
  box-shadow: 0 0 15px rgba(0,0,0,.3);
}
.mountain__control__container{
  height: 15vh;
  width: 18vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  border: 0.2rem solid green;
  margin: 0 0.75rem 0;
  padding: 0.2rem;
}
.mountain__button{
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
  font-size: 1.25rem;
}

.dice-container{
  width: 18vw;
  height: 24vh;
  font-family: system-ui, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.75rem 0;
}
.die-list {
  width: 10rem;
  height: 7rem;
  list-style-type: none;
  position: relative;
  transform-style: preserve-3d;
}
.even-roll {
  transition: transform 1.25s ease-out;
}
.odd-roll {
  transition: transform 1.25s ease-out;
}
.die-item {
  background-color: #f1f1f1;
  border-radius:1.5rem;
  box-shadow: inset -0.35rem 0.35rem 0.75rem rgba(0, 0, 0, 0.3),
  inset 0.5rem -0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  display: grid;
  grid-template-areas: "one two three" "four five six" "seven eight nine";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  width: 70%;
  padding: 1rem;
  position: absolute;
}
.hide-side{
  display:none;
}
.dot {
  align-self: center;
  background-color: red;
  border-radius: 50%;
  box-shadow: inset -0.15rem 0.15rem 0.25rem rgba(0, 0, 0, 0.5);
  display: block;
  height: 1.25rem;
  justify-self: center;
  width: 1.25rem;
}
.even-roll[data-roll="1"] {
  transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}
.even-roll[data-roll="2"] {
  transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
}
.even-roll[data-roll="3"] {
  transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
}
.even-roll[data-roll="4"] {
  transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
}
.even-roll[data-roll="5"] {
  transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
}
.even-roll[data-roll="6"] {
  transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg);
}
.odd-roll[data-roll="1"] {
  transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg);
}
.odd-roll[data-roll="2"] {
  transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg);
}
.odd-roll[data-roll="3"] {
  transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg);
}
.odd-roll[data-roll="4"] {
  transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg);
}
.odd-roll[data-roll="5"] {
  transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg);
}
.odd-roll[data-roll="6"] {
  transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-360deg);
}
[data-side="1"] {
  transform: rotate3d(0, 0, 0, 90deg) translateZ(4rem);
}
[data-side="2"] {
  transform: rotate3d(-1, 0, 0, 90deg) translateZ(4rem);
}
[data-side="3"] {
  transform: rotate3d(0, 1, 0, 90deg) translateZ(4rem);
}
[data-side="4"] {
  transform: rotate3d(0, -1, 0, 90deg) translateZ(4rem);
}
[data-side="5"] {
  transform: rotate3d(1, 0, 0, 90deg) translateZ(4rem);
}
[data-side="6"] {
  transform: rotate3d(1, 0, 0, 180deg) translateZ(4rem);
}
[data-side="1"] .dot:nth-of-type(1) {
  grid-area: five;
}
[data-side="2"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="2"] .dot:nth-of-type(2) {
  grid-area: nine;
}
[data-side="3"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="3"] .dot:nth-of-type(2) {
  grid-area: five;
}
[data-side="3"] .dot:nth-of-type(3) {
  grid-area: nine;
}
[data-side="4"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="4"] .dot:nth-of-type(2) {
  grid-area: three;
}
[data-side="4"] .dot:nth-of-type(3) {
  grid-area: seven;
}
[data-side="4"] .dot:nth-of-type(4) {
  grid-area: nine;
}
[data-side="5"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="5"] .dot:nth-of-type(2) {
  grid-area: three;
}
[data-side="5"] .dot:nth-of-type(3) {
  grid-area: five;
}
[data-side="5"] .dot:nth-of-type(4) {
  grid-area: seven;
}
[data-side="5"] .dot:nth-of-type(5) {
  grid-area: nine;
}
[data-side="6"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="6"] .dot:nth-of-type(2) {
  grid-area: three;
}
[data-side="6"] .dot:nth-of-type(3) {
  grid-area: four;
}
[data-side="6"] .dot:nth-of-type(4) {
  grid-area: six;
}
[data-side="6"] .dot:nth-of-type(5) {
  grid-area: seven;
}
[data-side="6"] .dot:nth-of-type(6) {
  grid-area: nine;
}
@media screen and (min-width:990px){

}
@media  screen and (min-width: 651px) and (max-width:989px){

}
@media screen and (min-width: 0px) and (max-width:650px){
  /*.mountain-part{
    flex-direction: column;
  }
  .player-container{
    flex-direction: row;
    width: 100vw;
    height: 20vh;
    margin-top: 500px;
  }*/
}

.show-nothing {
  display: none;
}