* {
  padding: 0;
  margin: 0;
}

body {
  background: rgb(246, 248, 231);
}

div {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 60px;
}
button {
  width: 15rem;
  height: 5rem;
  padding: 10px;
  margin: 10px;
}

.polazni {
  width:40vw;
  border: 1px solid green;
  border-radius: 5px;
}

.neka-klasa {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.dva-u-nizu {
  flex: 1;
  flex-direction: row;
}

.input-field {
  padding: 10px;
  flex: 1;
  flex-direction: row;
}

input {
  margin: 10px;
  padding: 0px 5px;
  width: 8rem;
  height: 2rem;
}

.boja {
  padding: 1px;
  margin: 1px;
  width: 2rem;
  height: 2rem;
}