* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #fffff5;
}

body {
  height: 95vh;
  background: #fffff5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-container{
  border: 2px solid green;
  width: 20vw;
  height: 80vh;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.memory-game-player-left {
  flex: 1;
  flex-direction: column;
}

.one-player-container {
  height:19vh;
  box-sizing: border-box;
  background: #eef9ed;
  color: #555555;
  position: relative;
  margin: 10px;  
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
}

.memory-game-player {
  width: calc(33.33% - 10px);
  height: calc(25% - 10px);
  padding: 10px;
  flex: 1;
  flex-direction: column;
}

.memory-game {
  width: 60vw;
  height: 80vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.sredina {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear-format{
  margin-top: -60px;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #d8eb4d;
  text-align: center;
}

h2 { 
  font-size: 60px;
}

p { 
  font-size: 3vw;
}

.memory-game-header {
  box-sizing: content-box;
  background: #555555;
  color: antiquewhite;
  width: calc(100% - 10px);
  height: calc(25% - 10px);
  position: relative;
  margin: 5px;  
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-flex{
  display: flex;
  align-items: center;
}

.header-column1{
  flex: 1;
  flex-direction: column;
}

.header-column2{
  flex: 3;
}

.paleta-levo{
  display: flex;  
}

.paleta-desno{
  display: flex;
  justify-content: flex-end;
}

.square-blue {
  height:1.3vw;
  width:1.3vw;
  background:blue;
  margin:3px;
}

.square-yellow {
  height:1.3vw;
  width:1.3vw;
  background:yellow;
  margin:3px;
}

.square-green {
  height:1.3vw;
  width:1.3vw;
  background:green;
  margin:3px;
}

.square-orange {
  height:1.3vw;
  width:1.3vw;
  background:orange;
  margin:3px;
}

.square-red {
  height:1.3vw;
  width:1.3vw;
  background:red;
  margin:3px;
}

.square-black {
  height:1.3vw;
  width:1.3vw;
  background:black;
  margin:3px;
}

.memory-card {
  width: calc(16.66% - 10px);
  height: calc(25% - 10px);
  /*position: relative;*/
  margin: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .7s;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
}

.memory-card:active {
  transform: scale(1.03);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face, .back-face {
  width: 100%;
  height: 100%;
  padding: 5px;
  /*position: absolute;*/
  background: white;
  backface-visibility: hidden;
}

.back-face {
  background:#eef9ed;
}

.front-face {
  transform: rotateY(180deg);
}

.front-face.firstcolor {
  border: 5px solid #d8eb4d;
  border-radius: 5px;
}

.front-face.secondcolor {
  border: 5px solid #cc29db;
  border-radius: 5px;
}

.left-corner {
  width: 0;
  height: 0;
	border-right: 2vw solid #d8eb4d;
	border-left: 2vw solid transparent;
  border-bottom: 2vw solid transparent;
  backface-visibility: visible;
  transform: rotateY(180deg);
}

.player1-corner {
  width: 0;
  height: 0;
	border-right: 2vw solid #d8eb4d;
	border-left: 2vw solid transparent;
  border-bottom: 2vw solid transparent;
  backface-visibility: visible;
  transform: rotateY(180deg);
}

.player2-corner {
  width: 0;
  height: 0;
	border-right: 2vw solid #4deb6f;
	border-left: 2vw solid transparent;
  border-bottom: 2vw solid transparent;
  backface-visibility: visible;
  transform: rotateY(180deg);
}

.player3-corner {
  width: 0;
  height: 0;
	border-right: 2vw solid #4de1eb;
	border-left: 2vw solid transparent;
  border-bottom: 2vw solid transparent;
  backface-visibility: visible;
  transform: rotateY(180deg);
}

.player4-corner {
  width: 0;
  height: 0;
	border-right: 2vw solid #4d6aeb;
	border-left: 2vw solid transparent;
  border-bottom: 2vw solid transparent;
  backface-visibility: visible;
  transform: rotateY(180deg);
}

.player1-border {
  border: 2px solid #d8eb4d;
}

.next-player-onMove-up {
  transform: scale(1.1);
  transition: transform .7s;
}

.previous-player-onMove-down {
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .7s;
}

.player2-border {
	border: 2px solid #4deb6f;
}

.player3-border {
  border: 2px solid #4de1eb;
}

.player4-border {
	border: 2px solid #4d6aeb;
}

.right-corner {
  width: 0;
  height: 0;
	border-right: 2vw solid #cb1eee;
	border-left: 2vw solid transparent;
  border-bottom: 2vw solid transparent;
  backface-visibility: visible;
  transform: rotateY(180deg);
}

::placeholder {
  color: antiquewhite;
  opacity: 1;
}

